@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Work Sans";
    src: url('fonts/WorkSans-VariableFont_wght.ttf');
  }

  html {
    font-family: 'Work Sans', system-ui, sans-serif;
    letter-spacing: 2px;
  }

  .heart::before {
    content: "a";
    display: inline-block;
    background-color: #f14e95;
    color: #f14e95;
    width: 50%;
    height: 75%;
    transform: rotateZ(-46deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 25%;
    transform-origin: 14px 10px;
  }

  .heart::after {
    content: "a";
    display: inline-block;
    background-color: #f14e95;
    color: #f14e95;
    width: 50%;
    height: 75%;
    transform: rotateZ(46deg);
    border-top-left-radius: 35%;
    border-top-right-radius: 50%;
    transform-origin: 0px 6px;
  }
}