@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Work Sans";
    src: url('fonts/WorkSans-VariableFont_wght.ttf');
  }

  html {
    font-family: 'Work Sans', system-ui, sans-serif;
  }

  .animate-box {
    visibility: hidden;
  }  
}