@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Work Sans";
    src: url('fonts/WorkSans-VariableFont_wght.ttf');
  }

  html {
    font-family: 'Work Sans', system-ui, sans-serif;
  }

  .heart::before {
    content: "a";
    display: inline-block;
    background-color: #f14e95;
    color: #f14e95;
    width: 50%;
    height: 75%;
    transform: rotateZ(-46deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 25%;
    transform-origin: 14px 10px;
  }

  .heart::after {
    content: "a";
    display: inline-block;
    background-color: #f14e95;
    color: #f14e95;
    width: 50%;
    height: 75%;
    transform: rotateZ(46deg);
    border-top-left-radius: 35%;
    border-top-right-radius: 50%;
    transform-origin: 0px 6px;
  }

  .timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #d4d4d4;
    left: 50%;
    margin-left: 0px;
  }

  .timeline-content::before {
    content: " ";
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    /* right: -10px; */
    transform: rotateZ(45deg);
  }

  .timeline-content:nth-child(2n+1)::before {
    border-left: unset;
    border-bottom: unset;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    right: -10px;
  }

  .timeline-content:nth-child(2n+2)::before {
    border-top: unset;
    border-right: unset;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    left: -10px;
  }

  


  @media screen and (max-width: 1024px) {
    .timeline::before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 1px;
      background-color: #d4d4d4;
      left: 85%;
      margin-left: 0px;
    }

    .timeline-content:nth-child(odd)::before {
      border-left: unset;
      border-bottom: unset;
      border-top: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      left: unset;
      right: -10px;
    }

    .heart::before {
      content: "a";
      display: inline-block;
      background-color: #f14e95;
      color: #f14e95;
      width: 50%;
      height: 75%;
      transform: rotateZ(-46deg);
      border-top-left-radius: 50%;
      border-top-right-radius: 25%;
      transform-origin: 14px 8px;
    }
  
    .heart::after {
      content: "a";
      display: inline-block;
      background-color: #f14e95;
      color: #f14e95;
      width: 50%;
      height: 75%;
      transform: rotateZ(46deg);
      border-top-left-radius: 35%;
      border-top-right-radius: 50%;
      transform-origin: 0px 8px;
    }
  }
}